.service .required {
	font-weight: 700;
}

.service .soon {
	font-weight: 500;
}


#mainContent .btn-group-vertical .btn {
    border-radius: 5px;
}

#mainContent .btn {
    text-align: center;
    font-size:18px;
    cursor: pointer;
}

#mainContent .btn.selected { 
    background-color: #0d6efd;
}

#mileageReport {
   border: 1px solid #0d6efd;
}

#mileageReport h2 {
	text-align: center;
}

#mileageReport .header {
	font-size: 18px;
}

#mileageReport .serviceDue {
	width: 100%;
	margin: 0 0 15px 15px;
}

#mileageReport .serviceDue h3{
	margin: 0;
	font-size: 14px;
}

#mileageReport .serviceDue .btn{
    width: 150px;
    font-size: small;
}

#mileageReport .serviceSchedule {
	margin-left: 15px;
	font-size: 14px;
}





